body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    background:#E5E5E5
}
h1 {
	line-height: 1.3em;
	font-weight: 300;
}

p{
    margin-bottom: 1.6em;
}

.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;    
}

.header{
    background: rgb(58, 58, 248);
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
}

.header a {
    color: white;
    text-decoration: none;
    position: relative;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
    .navigation ul li {
        display: inline-block;
    }
        .navigation ul li a {
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 5px;
        }

        .navigation ul li a:hover{
            background:#4a4a4a
        }

.logo {
    letter-spacing: 5px;
    font-size: 1em;
}


.footer{
    background: #f2f2f2;
    padding: 0.5rem 0;
    text-align: center;
}


table{
    background-color: rgb(252, 250, 250);
    border-collapse: collapse;
    width: 100%;
}

th,td{
    border:1px black ;
    padding: 0;
}

thead{
    background-color: #246355;
    border-bottom: solid 5px;
    color: white;
}

tr:nth-child(even){
    background-color: #ddd;
}

form input{
    border-radius: 4px;
    width: 200px;
    height: 30px;
}

form button{
    text-decoration:none;
    font-weight: 600;
    font-size: 15px;
    color:#333333;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    background-color:#c2c2c7;
    border-color: #d8d8d8;
    border-width: 2px;
    border-style: solid;
    border-radius:25px;
    border-color: #333;
}

/* Agrega el scrollbar a la tabla */
.scrollbar {
    height: 600px;
  overflow: auto;
}