<h1 mat-dialog-title>Detalles cliente</h1>

<div mat-dialog-content style="height: 455px;">

  <!-- Cédula -->
  <div class="wrapper_b">
    <div style="margin-right: 20px;">
      <label>Cedula:</label><br>
      <input matInput [(ngModel)]="data.Cedula" style="height: 35px;" readonly class="form-control" type="text">
    </div>

    <!-- Nombre -->
    <div style="margin-right: 20px;">
      <label>Nombre:</label><br>
      <input matInput [(ngModel)]="data.NombreCompleto" style="height: 35px;" readonly class="form-control"
        type="text"><br>
    </div>

    <!-- Correo electrónico (E-mail) -->
    <div>
      <label>E-mail:</label> <br> <!-- El nombre de la variable 'data' se define en el constructor (.ts) de la vista (HTML)-->
      <input matInput [(ngModel)]="data.Email" style="height: 35px;" readonly class="form-control" type="email">
    </div>
  </div>

  <!-- Teléfono1 -->
  <div class="wrapper_c">
    <div style="margin-right: 20px;">
      <label>Teléfono 1:</label><br> <!-- El nombre de la variable 'data' se define en el constructor (.ts) de la vista (HTML)-->
      <input matInput [(ngModel)]="data.Telefono1" style="height: 35px;" readonly class="form-control" type="tel">
    </div>

    <div style="margin-right: 20px;">
      <label>Tipo teléfono 1:</label><br> <!-- El nombre de la variable 'data' se define en el constructor (.ts) de la vista (HTML)-->
      <input matInput [(ngModel)]="data.TipoTelefono1" style="height: 35px;" readonly class="form-control" type="tel">
    </div>

    <div>
      <label>Notas teléfono 1:</label><br> <!-- El nombre de la variable 'data' se define en el constructor (.ts) de la vista (HTML)-->
      <textarea matInput [(ngModel)]="data.NotasTelefono1" style="height: 35px;" readonly style="width: 300;" rows="1"
        class="form-control" type="text"></textarea>
    </div>
  </div><br>

  <!-- Teléfono 2 -->
  <div class="wrapper_c">
    <div style="margin-right: 20px;">
      <label>Teléfono 2:</label><br> <!-- El nombre de la variable 'data' se define en el constructor (.ts) de la vista (HTML)-->
      <input matInput [(ngModel)]="data.Telefono2" style="height: 35px;" readonly class="form-control" type="tel">
    </div>

    <div style="margin-right: 20px;">
      <label>Tipo teléfono 2:</label><br> <!-- El nombre de la variable 'data' se define en el constructor (.ts) de la vista (HTML)-->
      <input matInput [(ngModel)]="data.TipoTelefono2" style="height: 35px;" readonly class="form-control" type="tel">
    </div>
    
    <div>
      <label>Notas teléfono 2:</label><br> <!-- El nombre de la variable 'data' se define en el constructor (.ts) de la vista (HTML)-->
      <textarea matInput [(ngModel)]="data.NotasTelefono2" style="height: 35px;" readonly rows="1" class="form-control"
        type="text"></textarea>
    </div>
  </div><br>

  <!-- Dirección -->
  <div class="wrapper_a">
    <div style="margin-right: 20px;">
      <label>Dirección:</label> <!-- El nombre de la variable 'data' se define en el constructor (.ts) de la vista (HTML)-->
      <textarea matInput [(ngModel)]="data.Direccion" readonly rows="4" class="form-control" type="text"></textarea>
    </div>

    <!-- Observaciones -->
    <div>
      <label>Observaciones cliente:</label>
      <textarea matInput [(ngModel)]="data.Observaciones" readonly rows="4" class="form-control" type="text"></textarea>
    </div>
  </div>

  <!-- Botones -->
  <div mat-dialog-actions align="center" style="margin-top: 20px;">
    <button class="btn btn-success" type="button" style="margin-right: 20px;" (click)="onCancelClick()">
      Cerrar
      <i class="material-icons" style="margin-left: 20px;">close</i>
    </button>                                <!-- [mat-dialog-close]="data" retorna el 'data con los valores que tengan los campos del formulario '-->
    <button class="btn btn-success" type="button" [mat-dialog-close]="data" (click)="openDialogEditCustomer(data)">
      Editar
      <i class="material-icons" style="margin-left: 20px;">edit</i>
    </button>
  </div>
</div>