body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 0.9rem; 
    line-height: 1.6em;
    background:#E5E5E5
    

}
h1 {
	line-height: 1.3em;
	font-weight: 300;
}

p{
    margin-bottom: 1.6em;
}

.container1{
    width: 95%;
    height: 150px;
    margin: 0 auto;    
}

.container{
    width: 2500px;
    max-height: 100px;
    margin: 0 auto;
}

.header{
    background: rgb(58, 58, 248);
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
}

.header a {
    color: white;
    text-decoration: none;
    position: relative;
  
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
    .navigation ul li {
        display: inline-block;
    }
        .navigation ul li a {
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 5px;
        }

        .navigation ul li a:hover{
            background:#4a4a4a
        }

.logo {
    letter-spacing: 5px;
    font-size: 1em;
}


.footer{
    background: #f2f2f2;
    padding: 0.5rem 0;
    text-align: center;
}
/*Inicio scroll bar*/
.example-container {
    height: 270px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }
  
  .mat-table-sticky {
    border-top: 1px solid #e0e0e0;
  }
/*fin scroll bar*/


.tablalista{
    border-collapse:collapse;
}
.tablalista, td{
    border:1px solid black;
}


th,td{
    border:1px black ;
    padding: 0;
}

thead{
    background-color: #246355;
    border-bottom: solid 5px;
    color: white;
}

tr:nth-child(even){
    background-color: #ddd;
}


form input{
    border-radius: 4px;
    width: 200px;
    height: 30px;
}

form button{
    text-decoration:none;
    font-weight: 600;
    font-size: 15px;
    color:#333333;
    background-color:#c2c2c7;
    border-color: #d8d8d8;
    border-width: 2px;
    border-style: solid;
    border-radius:15px;
    border-color: #333;
}

.max-width {
    max-width: 1560px;
    max-height: 560px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #020202;
}
.max-width1 h2 {
    max-width: 1560px;
    max-height: 560px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #020202;
    background-color: #5c82ff;
    font-style: normal;
    color: aliceblue;
}
